.adminlogoutbtn {
    display: flex;
    justify-content: center;
}

.admingrid {
    margin-top: 60px;
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
}

.adminitem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #0a0a0a;
    background-color: #fff7cc;
    border-radius: 16px;
    padding: 10% 20%;
}

.adminitemtitle {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20%;
}

@media (max-width: 768px) {
    .admingrid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 550px) {
    .admingrid {
        grid-template-columns: 1fr;
    }
}
