.testimonials-section {
    margin: 80px auto;
    padding: 0 40px;
    text-align: center;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.testimonial-card {
    box-shadow: 0 0 20px rgba(10, 10, 10, 0.1);
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition: transform 0.3s ease;
}

.testimonial-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.testimonial-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    border: 3px solid #b39700;
}

.testimonial-name {
    font-size: 18px;
    font-weight: 700;
    color: #b39700;
    margin: 0;
    text-align: left;
}

.testimonial-title {
    font-size: 14px;
    color: #777;
    margin: 5px 0 0;
}

.testimonial-feedback {
    font-size: 14px;
    line-height: 1.6;
    color: #0a0a0a;
    text-align: justify;
}

/* Media Query for devices below 900px */
@media (max-width: 900px) {
    .testimonials-grid {
        grid-template-columns: 1fr;
    }

    .testimonial-card {
        padding: 15px;
    }

    .testimonial-feedback {
        font-size: 13px;
    }
}

/* Media Query for devices below 600px */
@media (max-width: 600px) {
    .testimonials-section {
        padding: 0 20px;
    }

    .testimonial-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .testimonial-img {
        margin-bottom: 10px;
    }

    .testimonial-name {
        font-size: 16px;
    }

    .testimonial-title {
        font-size: 12px;
    }

    .testimonial-feedback {
        font-size: 12px;
    }
}
