.aboutus {
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.about {
    flex-basis: 31%;
    position: relative;
    margin-bottom: 20px;
}

.caption {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(179, 151, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fafafa;
    cursor: pointer;
    padding: 20px;
    transition: 0.5s;
    box-sizing: border-box;
}

/* Default display: Heading */
.show-heading img {
    width: 60px;
    margin-bottom: 10px;
}

.show-heading h3 {
    margin: 0;
    font-size: 18px;
}

/* Display: Text */
.show-text p {
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.6;
    font-size: 16px;
    color: #fafafa;
    font-weight: 600;
}

/* Media Query */
@media (max-width: 1100px) {
    .show-text p {
        font-size: 12px;
    }
}

@media (max-width: 820px) {
    .aboutus {
        flex-direction: column;
    }

    .show-text p {
        font-size: 18px;
    }

    .about {
        flex-basis: 100%;
        margin: 20px 0;
    }

    .show-heading h3 {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .show-text p {
        font-size: 14px;
    }
}
